<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rules Engine Service</title>
    </head>

    <body>
        <h1>User input for Rules</h1>

        <form action="http://127.0.0.1:9000/process" method="post">
            <label for="action">Action Type:</label>
            <select name="action" id="action" required onchange="toggleRuleIdField()">
                <option value="default">Choose an action</option>
                <option value="create">Create</option>
                <option value="update">Update</option>
                <option value="delete">Delete</option>
                <option value="get">Get</option>
            </select>
            <br>

            <label for="rule_id" id="rule_id_label">Rule ID:</label>
            <input type="text" name="rule_id" id="rule_id">
            <br>

            <label for="rule_data", id="rule_data_label">Rule Data (JSON):</label>
            <textarea name="rule_data", id="rule_data_id"></textarea>
            <br>

            <button type="submit", id="submit_1">Submit</button>
        </form>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Initially hide all the fields when the page loads
                var ruleIdLabel = document.getElementById("rule_id_label");
                var ruleDataLabel = document.getElementById("rule_data_label");
                var ruleIdInput = document.getElementById("rule_id");
                var ruleDataId = document.getElementById("rule_data_id")
                ruleIdLabel.style.display = "none";
                ruleDataLabel.style.display = "none";
                ruleIdInput.style.display = "none";
                ruleDataId.style.display = "none";
            });

            function toggleRuleIdField(){
                var actionSelect = document.getElementById("action");
                var ruleIdLabel = document.getElementById("rule_id_label")
                var ruleIdInput = document.getElementById("rule_id")
                var ruleDataLabel = document.getElementById("rule_data_label");
                var ruleDataId = document.getElementById("rule_data_id")

                if (actionSelect.value == "update" || actionSelect.value == "delete" || actionSelect.value == "get"){
                    ruleIdLabel.style.display = "block";
                    ruleIdInput.style.display = "block";
                    ruleIdInput.required = true;
                }
                else{
                    ruleIdLabel.style.display = "none";
                    ruleIdInput.style.display = "none";
                    ruleIdInput.required = false;
                }

                if (actionSelect.value == "update" || actionSelect.value == "create"){
                    ruleDataLabel.style.display = "block";
                    ruleDataId.style.display = "block";
                    ruleDataId.required = true;
                }
                else{
                    ruleDataLabel.style.display = "none";
                    ruleDataId.style.display = "none";
                    ruleDataId.required = false;
                }
            }

        </script>

        <h1>User input for Evaluating Rules</h1>

        <form action="http://127.0.0.1:9000/evaluate" method="post">

            <label for="eval_data", id="eval_data_label" display = 'block'>Data to evaluate (JSON):</label><br>
            <textarea name="eval_data", id="eval_data_id" display = 'block'></textarea>
            <br>
            <br>

            <button type="submit", id="submit_2">Submit</button>
        </form>

    </body>
</html>
